/* src/App.css or your component CSS */
.fredoka-navbar {
  font-family: "Fredoka", sans-serif;
  font-weight: 500; /* Use any weight from 300 to 700 */
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-green-400 {
  color: rgb(73, 41, 255);
}

.bg-offwhite {
  background-color: #F2F0EF;
}

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a {
    margin-bottom: 10px; /* Space between navbar items */
  }
}

@media (max-width: 640px) {
  .text-xl {
    font-size: 1.5rem; /* Adjust text size */
  }
  .text-4xl {
    font-size: 2rem; /* Adjust text size */
  }
  .rounded-full {
    width: 80px; /* Smaller image on mobile */
    height: 80px;
  }
}
